@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Ubuntu+Sans+Mono&display=swap");
@font-face {
  font-family: pix;
  src: url(../style/dogicapixel.ttf);
}

.wrapper {
  max-width: 75%;
  margin: 0 auto;
  justify-content: center;
  min-height: 100%;
}

.wrapper p {
  font-family: "Ubuntu Sans Mono", monospace;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
}

.wrapper h1 {
  font-size: 30px;
  font-weight: bolder;
  font-family: pix;
  margin-bottom: 10px;
}

.introContainer {
  max-width: 900px;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
  background-color: #dbeeff;
  border-image: url("../assets/UI/Border-Blue.png");
  border-image-slice: 49% fill;
  border-image-width: 15px;
  border-image-outset: 5px;
}

.introParagraph {
  padding-left: 10px;
  padding-right: 10px;
}

.profilePic {
  height: 100%;
  width: 100%;
}

.profilePic img {
  width: 100%;
  height: 100%;
}

.aboutMeContent {
  display: grid;
  grid-template-columns: 55% 45%;
}

.aboutMeContent h2 {
  font-size: 18px;
  font-family: pix;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 10px;
}

.experienceWrapper {
  padding-right: 5%;
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    min-height: 100%;
  }

  .introContainer {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
  }

  .profilePic {
    max-height: 250px;
    max-width: 250px;
    height: 65vw;
    width: 65vw;
    margin-bottom: 15px;
    border-image: url("../assets/UI/Border-Blue.png");
    border-image-slice: 49% fill;
    border-image-width: 15px;
    border-image-outset: 5px;
  }

  .profilePic img {
    width: 100%;
    height: 100%;
  }

  .introParagraph {
    background-color: #dbeeff;
    padding: 15px;
    border-image: url("../assets/UI/Border-Blue.png");
    border-image-slice: 49% fill;
    border-image-width: 15px;
    border-image-outset: 5px;
  }

  .introParagraph h1 {
    font-size: 22px;
    font-family: pix;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .aboutMeContent {
    display: grid;
    grid-template-columns: 100%;
  }

  .experienceWrapper {
    padding-right: 0;
  }
}
