.aboutMeHeader {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.aboutMeTitle {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  filter: drop-shadow(-5px 5px 5px #0000001f);
  max-width: 250px;
}

.aboutMeTitle img {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gitIcon {
  cursor: pointer;
  border-image: url("../assets/UI/SquareButton-Pink.png");
  border-image-slice: 49% fill;
  border-image-width: 120px;
  border-image-outset: 5px;

  width: 24px;
  height: 24px;
  padding: 2px;
  color: #000;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 24px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedInIcon {
  cursor: pointer;
  border-image: url("../assets/UI/SquareButton-Pink.png");
  border-image-slice: 49% fill;
  border-image-width: 120px;
  border-image-outset: 5px;

  width: 24px;
  height: 24px;
  color: #000;
  margin-right: 10px;
  margin-left: 10px;
  padding: 2px;
  font-size: 24px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.resumeBtn {
  cursor: pointer;
  border-image: url("../assets/UI/SquareButton-Pink.png");
  border-image-slice: 49% fill;
  border-image-width: 120px;
  border-image-outset: 5px;
  font-family: pix;
  font-size: 20px;
  color: #000;
  padding: 4px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}
