.leadershipContainer {
  display: grid;
  grid-template-columns: 100px 1fr;
  background-color: #cfeffc;
  margin-bottom: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 144, 0.5);

  border-image: url("../assets/UI/NewBlueBorder.png");
  border-image-slice: 49% fill;
  border-image-width: 12px;
  border-image-outset: 5px;
}

.imageContainer {
  margin: 12px;
  width: 90px;
  height: 90px;
  border-image: url("../assets/icons/IconContainer2.png");
  border-image-slice: 49% fill;
  border-image-width: 12px;
  border-image-outset: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leadershipImage {
  width: 70px;
  height: 70px;
  filter: drop-shadow(-3px 3px 2px rgba(0, 0, 100, 0.3));
}

.leadershipImage img {
  width: 100%;
}

.leadershipContent {
  padding: 8px;
}

.leadershipContent h3 {
  font-size: 16px;
  font-family: pix;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  line-height: 1.3;
}

.leadershipContent p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.description {
  font-size: 16px;
  font-family: "Ubuntu Sans Mono";
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
}

.readMore {
  cursor: pointer;
  font-size: 16px;
  font-family: "Ubuntu Sans Mono";
  color: #000;
  text-decoration: none;
}
