@font-face {
  font-family: pix;
  src: url(../style/dogicapixel.ttf);
}

.wrapper {
  height: 110px;
  /* position: relative; */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-family: pix;
}

.name {
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

.menuIcon {
  display: none;
}

.navElements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navElements ul li {
  margin-right: 30px;
  cursor: pointer;
}

.navElements li a {
  border-image: url("../assets/UI/SmallButton-Pink.png");
  border-image-slice: 49% fill;
  border-image-width: 140px;
  border-image-outset: 8px;
  padding: 4px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.navElements li a.active {
  border-image: url("../assets/UI/SmallButton-White.png");
  border-image-slice: 49% fill;
  border-image-width: 140px;
  border-image-outset: 8px;
  color: #000;
}

.navElements li a.inactive {
  color: #000;
}

@media (max-width: 739px) {
  .wrapper {
    height: 50px;
  }
  .container {
    width: 95%;
  }
  .menuIcon {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 2;
  }

  .menuIcon img {
    height: 100%;
    width: 100%;
  }

  .navElements {
    display: flex;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 8px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
  }
  .navElements.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .navElements ul {
    display: flex;
    flex-direction: column;
  }

  .navElements ul li {
    margin-right: unset;
    margin-top: 30px;
  }
}
