@font-face {
  font-family: pix;
  src: url(../style/dogicapixel.ttf);
}

.wrapper {
  height: 110px;
  position: relative;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-family: pix;
}

.menuIcon {
  display: none;
}

.navElements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navElements ul li {
  margin-right: 30px;
}

.navElements li a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.navElements li a.active {
  color: #000;
  padding-bottom: 1px;
  border-bottom: 2px solid #000;
}

.navElements li a.inactive {
  color: #000;
}

@media (max-width: 600px) {
  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .navElements.inactive {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .navElements.active {
    width: 270px;
  }

  .navElements ul {
    display: flex;
    flex-direction: column;
  }

  .navElements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
