.container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.smallStar {
  position: absolute;
  background-image: url("../assets/parallax/SmallStar.png");
  width: 35px;
  height: 35px;
  animation: flicker 2s infinite;
}

.largeStar {
  position: absolute;
  background-image: url("../assets/parallax/LargeStar.png");
  width: 45px;
  height: 45px;
  animation: flicker 3s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes animateCloud {
  0% {
    left: -700px;
  }
  100% {
    left: 100%;
  }
}

.wrapClouds {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cloud1 {
  position: absolute;
  top: 10%;
  width: 500px;
  height: 200px;
  opacity: 0.6;
  animation: animateCloud 120s linear infinite;
  animation-delay: -40s;
}

.cloud2 {
  position: absolute;
  top: 40%;
  width: 700px;
  height: 270px;
  opacity: 0.6;
  animation: animateCloud 140s linear infinite;
  animation-delay: -15s;
}

.cloud3 {
  position: absolute;
  top: 80%;
  width: 400px;
  height: 150px;
  opacity: 0.6;
  animation: animateCloud 110s linear infinite;
  animation-delay: -80s;
}

.cloud1 img,
.cloud2 img,
.cloud3 img {
  width: 100%;
  height: 100%;
}
