@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Ubuntu+Sans+Mono&display=swap");
@font-face {
  font-family: pix;
  src: url(/src/style/dogicapixel.ttf);
}

.wrapper {
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  min-height: 100%;
}

.wrapper h1 {
  font-size: 30px;
  font-weight: bolder;
  font-family: pix;
}

.header {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.images {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  /* flex-direction: row;
  flex-wrap: wrap; */
  margin-top: 30px;
  margin-bottom: 30px;
}
